

#login {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 100vh;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    background-color: gray;

}

.card {

    background-color: lightskyblue;

    padding: 40px;

    border-radius: 2px;

    width:280px;

    border-radius: 25px;

}

.card-header {

    padding-bottom: 50px;

    opacity: 0.8;

    color: black;

}

.card-header::after {

    content: "";

    width: 70px;

    height: 1px;

    background-color: black;

    display: block;

    margin-top: -17px;

    margin-left: -5px;

}

.card-content label {

    color: black;

    font-size: 12px;

    opacity: 0.8;

}

.card-content-area {

    display: flex;

    flex-direction: column;

    padding:10px 0;

}

.card-content-area input {

    margin-top: 10px;

    padding:0 5px;

    background-color: transparent;

    border:none;

    border-bottom: 1px solid black;

    outline: none;

    color: black;

}

.card-footer {

    display: flex;

    flex-direction: column;

    cursor: pointer;

}

.card-footer .submit{

    width: 100%;

    height: 40px;

    background-color: white;

    border:none;

    color:black;

    margin: 10px 0;

    cursor: pointer;

}

.card-footer a {

    text-align: center;

    font-size: 12px;

    opacity: 0.8;

    color: black;

    text-decoration: none;

}

.submit:hover {

    color: white;

    background-color: blue;

}

.recuperar_senha:hover {

    color: blue;

}

.login_conta:hover {

    color: blue;

}